@import 'variables';
@import 'utils/reset';
@import 'utils/align';
@import 'utils/font-awesome/font-awesome.scss';
@import 'utils/gridle_config';
@import 'components/type';
@import 'pages/home';

* {
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

html,
body {
	background-color: #fcfcfc;
}
