$color-dark : #263238;
$color-light : #fff;

$color-success : #b8e20a;
$color-warning : #fd730e;
$color-danger : #ff7558;
$color-info : #08c5fb;

$color-neutral-10 : #f7f8f9;
// https://material.io/guidelines/style/color.html#color-color-palette
$color-neutral-50 : #eceff1;
$color-neutral-100 : #cfd8dc;
$color-neutral-200 : #b0bec5;
$color-neutral-300 : #90a4ae;
$color-neutral-400 : #78909c;
$color-neutral-500 : #607d8b;
$color-neutral-600 : #546e7a;
$color-neutral-700 : #455a6a;
$color-neutral-800 : #37474f;

$color-accent : $color-info;
$color-disabled : $color-neutral-200;
