<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= props.name %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<% if (props.includeReact) { %>
	<div id="app"></div>

	<script src="bundle.js"></script>
	<% } else { %>
	<script src="bundle.js"></script>

	<div class="home-page">
		<div class="row">
			<div class="content">
				<img src="assets/img/tarti.svg" alt="" class="logo"/>
				<h1 class="title">Your <strong>Tartiflette</strong> application is ready !</h1>
				
				<hr />

				<div class="launch">
					<p>Run application in production mode</p>
					<code>npm run start</code>
					<p>Run application in development mode</p>
					<code>npm run dev</code>
				</div>

				<hr />

				<ul class="list">
					<li><p>React</p><% if (props.includeReact) { %><i class="fa fa-check" aria-hidden="true"><% } else { %><i class="fa fa-times" aria-hidden="true"><% } %></i></li>
					<li><p>React/Router</p><% if (props.includeReactRouter) { %><i class="fa fa-check" aria-hidden="true"><% } else { %><i class="fa fa-times" aria-hidden="true"><% } %></i></li>
					<li><p>Express Server</p><% if (props.includeServer) { %><i class="fa fa-check" aria-hidden="true"><% } else { %><i class="fa fa-times" aria-hidden="true"><% } %></i></li>
					<li><p>API</p><% if (props.includeAPI) { %><i class="fa fa-check" aria-hidden="true"><% } else { %><i class="fa fa-times" aria-hidden="true"><% } %></i></li>
					<li><p>MongoDB</p><% if (props.includeDB) { %><i class="fa fa-check" aria-hidden="true"><% } else { %><i class="fa fa-times" aria-hidden="true"><% } %></i></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="credits">
				<p><a href="https://twitter.com/CPerinet" target="_blank">@CPerinet</a></p>
			</div>
		</div>
	</div>
	<% } %>
</body>
</html>